<div class="class-info-overview">
  <h2>{{ class_info.name }} ({{ class_info.id }})</h2>
  <div>
    <label>{{ 'Teacher' }}:</label>
      {{ class_info.teacher.first_name }}
      {{ class_info.teacher.last_name }}
  </div>
</div>


